#global {
    display: flex;
    justify-content: center;
    margin-top: 60px;
}


#start-square {
    background: red;
    height: 600px;
    width: 500px;
    -webkit-border-radius: 20px;
    -webkit-border-bottom-right-radius: 0;
    -moz-border-radius: 20px;
    -moz-border-radius-bottomright: 0;
    border-radius: 20px;
    border-bottom-right-radius: 0;
}

#start-square2 {
    background: red;
    height: 500px;
    width: 500px;
    display: inline-flex;
    margin-top: 100px;
    -webkit-border-top-right-radius: 20px;
    -webkit-border-bottom-right-radius: 20px;
    -moz-border-radius-topright: 20px;
    -moz-border-radius-bottomright: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

#left-top {
    background: darkred;
    height: 100px;
    width: 250px;
    display: inline-flex;
    position: absolute;
    margin-left: -375px;


    border-radius: 50px 5px 50px 5px;
    -moz-border-radius: 50px 5px 50px 5px;
    -webkit-border-radius: 20px 5px 20px 5px;
    border: 0px solid #800000;

}

#left-top2 {
    background: darkred;
    height: 50px;
    width: 273px;
    position: absolute;
    margin-left: -137px;

    border-radius: 0px 0px 0px 50px;
    -moz-border-radius: 0px 0px 0px 50px;
    -webkit-border-radius: 0px 10px 0px 20px;
    border: 0px solid #800000;
}


#right-top {
    background: red;
    height: 50px;
    width: 220px;
    display: inline-flex;
    position: absolute;
    margin-left: 125px;
    margin-top: 50px;


    border-radius: 0px 50px 0px 0px;
    -moz-border-radius: 0px 50px 0px 0px;
    -webkit-border-radius: 0px 0px 0px 0px;
}

#right-top2 {
    background: white;
    height: 50px;
    width: 220px;
    display: inline-flex;
    position: absolute;
    margin-left: 329px;
    margin-top: 50px;


    border-radius: 0px 50px 0px 0px;
    -moz-border-radius: 0px 50px 0px 0px;
    -webkit-border-radius: 0px 0px 0px 20px;
}

#line-center {
    background: darkred;
    height: 550px;
    width: 20px;
    position: absolute;
    margin-left: 10px;
    margin-top: 50px;
}

#line-center2 {
    background: blanchedalmond;
    height: 20px;
    width: 30px;
    position: absolute;
    margin-left: 10px;
    margin-top: 70px;
    border-radius: 0px 50px 0px 0px;
    -moz-border-radius: 0px 50px 0px 0px;
    -webkit-border-radius: 10px 10px 10px 10px;
}

#line-center3 {
    background: blanchedalmond;
    height: 20px;
    width: 30px;
    position: absolute;
    margin-left: 10px;
    margin-top: 560px;
    border-radius: 0px 50px 0px 0px;
    -moz-border-radius: 0px 50px 0px 0px;
    -webkit-border-radius: 10px 10px 10px 10px;
}

#line-center4 {
    background: blanchedalmond;
    height: 20px;
    width: 30px;
    position: absolute;
    margin-left: 10px;
    margin-top: 300px;
    border-radius: 0px 50px 0px 0px;
    -moz-border-radius: 0px 50px 0px 0px;
    -webkit-border-radius: 10px 10px 10px 10px;
}

#center-square {
    background: white;
    position: fixed;
    height: 200px;
    width: 200px;
    margin-top: 150px;
    margin-left: -250px;
}

img {
    width: 200px;
    height: 200px;
}

#global-square1 {
    position: absolute;
    height: 250px;
    width: 80px;
    margin-top: 120px;
    margin-left: -110px;
    background: darkgrey;
    border-radius: 10px;
}

#global-square2 {
    position: absolute;
    height: 260px;
    width: 80px;
    margin-top: 120px;
    margin-left: -390px;
    background: darkgrey;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
}

#global-square3 {
    position: absolute;
    height: 40px;
    width: 360px;
    margin-top: 110px;
    margin-left: -250px;
    background: darkgrey;
    -webkit-border-radius: 5px;
}

#global-square4 {
    position: absolute;
    height: 40px;
    width: 360px;
    margin-top: 350px;
    margin-left: -250px;
    background: darkgrey;
    -webkit-border-radius: 5px;
}

#circle {
    background: black;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    margin-top: 445px;
    margin-left: -400px;
    position: absolute;
}

#line1 {
    background: darkred;
    height: 10px;
    width: 50px;
    margin-top: 420px;
    margin-left: -300px;
    position: absolute;
    border-radius: 20%;
}

#line2 {
    background: blue;
    height: 10px;
    width: 50px;
    margin-top: 420px;
    margin-left: -200px;
    border-radius: 20%;
    position: absolute;
}

#line3 {
    background: black;
    height: 20px;
    width: 100px;
    margin-top: 460px;
    margin-left: -100px;
    position: absolute;
    border-radius: 10%;
}

#line4 {
    background: black;
    height: 100px;
    width: 20px;
    margin-top: 420px;
    margin-left: -100px;
    position: absolute;
    border-radius: 10%;
}